#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.product__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 5px #454545;
}

.list__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 3rem;
  padding: 12px;
}

.list__item {
  list-style: none;
  border: solid 2px #646cff;
  background: #2e2e2e;
  border-radius: 25px;
  padding: 60px;
}